OBJECT_STORAGE_ACCESS_KEY_ID=
OBJECT_STORAGE_SECRET_ACCESS_KEY=
OBJECT_STORAGE_REGION=auto
OBJECT_STORAGE_BUCKET=
OBJECT_STORAGE_ENDPOINT_URL=
OBJECT_STORAGE_PUBLIC_BASE_URL=
OBJECT_STORAGE_ADDRESSING_STYLE=
OBJECT_STORAGE_LEGACY_PUBLIC_BASE_URLS=
STATIC_VERSION=

EDIT_TOKEN=
COOKIE_SECRET=
LOCALHOST_EDIT_BYPASS=
CONTENT_STARTUP_SYNC_POLICY=always
TEMP_VIDEO_CLEANUP_INTERVAL_SECONDS=900
APP_PORT=8001
