/* Home page styles */
.video-reel {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 2rem auto;
}

.video-reel video {
    width: 100%;
    height: auto;
    max-height: 450px;
    object-fit: contain;
}

#project-list {
    margin-top: 2rem;
}

.project-item {
    margin-bottom: 1rem;
    position: relative;
    padding-left: 1.5rem;
}

.project-header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    cursor: pointer;
}

.project-date {
    margin-right: 1rem;
    font-size: 0.9em;
    color: #666;
    min-width: 100px;
    text-align: right;
}

.project-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 1rem;
}

.close-project {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    padding: 0;
    color: #666;
}

@media (max-width: 600px) {
    .project-date {
        width: 100%;
        text-align: left;
        margin-bottom: 0.5rem;
    }
    
    .close-project {
        margin-left: auto;
    }
}

.highlight-project::before {
    content: '*';
    color: #ff6600;
    position: absolute;
    left: 0rem;
    top: 1.0rem;
    font-size: 1.75em;
    line-height: 1;
}

.project-detail {
    display: none;
    margin-top: 1rem;
    margin-left: 1.5rem;
    max-width: 800px;
}

.project-detail:not(:empty) {
    display: block;
}

.project-header.active {
    /* Add styles for the active state, e.g.: */
    font-weight: bold;
}