{% macro render_thumbnail(project, data_animate=False) %}
    <figure 
        id="thumbnail-{{ project.slug }}"
        class="thumbnail lazy-thumbnail"
        data-bg="{{ project.thumbnail_link }}"
        data-frames="{{ project.frames | default(60) }}"
        data-frame-width="{{ project.frame_width | default(320) }}"
        data-frame-height="{{ project.frame_height | default(180) }}"
        data-columns="{{ project.columns | default(5) }}"
        hx-get="/{{ project.slug }}" 
        hx-target="#details-{{ project.slug }}" 
        hx-trigger="click" 
        hx-swap="innerHTML"
        hx-push-url="true"
        {% if data_animate %}
            data-animate="true"
        {% endif %}>
    </figure>
{% endmacro %}