{% extends "base.html" %}

{% block content %}
<form id="edit-form" hx-post="/about/edit" hx-target="body">
    <fieldset>
        <legend>Edit About Page</legend>
        
        <label for="about_photo_link">Photo Link:</label>
        <input type="url" id="about_photo_link" name="about_photo_link" value="{{ about_photo_link }}">
        <br>
        <label for="about_content"></label>
        <br>
        <textarea id="about_content" name="about_content">{{ about_content | safe }}</textarea>
    </fieldset>
    <br>
    <button type="submit">Save</button>
</form>
{% endblock %}

{% block additional_scripts %}
<script src="{{ request.url_for('static', path='js/tinymce-init.js') }}"></script>
<script src="https://cdn.tiny.cloud/1/{{ tinymce_api_key }}/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    initTinyMCE('#about_content', { height: 500 });
</script>
{% endblock %}