{% extends "base.html" %}

{% block title %}Billy Bjork - About{% endblock %}

{% block additional_head %}

{% endblock %}

{% block content %}
<section class="about-content">
    {% if about_photo_link %}
    <figure class="about-photo-container">
        <img src="{{ about_photo_link }}" 
            alt="Billy Bjork" 
            class="about-photo" 
            width="8050"
            height="5367">
    </figure>
    {% endif %}
    {% if about_content %}
    <section class="about-details">
        {{ about_content | safe }}
    </section>
    {% endif %}
</section>
<br>
{% endblock %}