<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Billy Bjork{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='css/global.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='favicon.ico') }}">
    {% block additional_styles %}{% endblock %}
</head>
<body>
    <header>
        <h1><a href="/" class="site-title">Billy Bjork</a></h1>
        <nav>
           <a href="/about">About</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <nav class="social-links" aria-label="Social media">
            <ul>
                <li><a href="https://www.youtube.com/@BillyBjork" target="_blank" aria-label="YouTube"><i class="fab fa-youtube"></i></a></li>
                <li><a href="https://vimeo.com/billybjork" target="_blank" aria-label="Vimeo"><i class="fab fa-vimeo"></i></a></li>
                <li><a href="https://www.instagram.com/billybjork/" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in/billybjork/" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </nav>
        {% block additional_footer %}{% endblock %}
        <p>&copy; {{ current_year }} Billy Bjork</p>
    </footer>
    <script src="{{ url_for('static', path='js/project-interactions.js') }}"></script>
</body>
</html>