{% extends "base.html" %}

{% block main_class %}home-page{% endblock %}

{% block content %}

<section id="project-list">
    {% set open_project = open_project if open_project is defined else None %}
    {% for project in projects %}
        {% set is_open = (open_project and open_project.slug == project.slug) %}
        {% include "project.html" with context %}
    {% endfor %}
    
    {% if not isolation_mode and has_more %}
        {% include "infinite_scroll_sentinel.html" %}
    {% endif %}
</section>
<br><br>
{% endblock %}