{% extends "base.html" %}

{% block title %}Billy Bjork{% endblock %}

{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('static', path='css/home.css') }}">
{% endblock %}

{% block content %}
<section class="video-reel">
    <video controls loop>
        <source src="https://d17y8p6t5eu2ht.cloudfront.net/Reel-2024_temp.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</section>
<section id="project-list">
    {% for project in projects %}
        <article class="project-item {% if project.highlight_project %}highlight-project{% endif %}">
            <div class="project-header"
                 hx-get="/{{ project.slug }}" 
                 hx-target="next .project-detail" 
                 hx-trigger="click"
                 hx-swap="innerHTML">
                <time class="project-date">{{ project.formatted_date }}</time>
                <h2 class="project-name">{{ project.name }}</h2>
            </div>
            <div class="project-detail"></div>
        </article>
    {% endfor %}
</section>
{% endblock %}

{% block additional_scripts %}
<script src="{{ url_for('static', path='js/video-player.js') }}"></script>
{% endblock %}