{% extends "base.html" %}

{% block content %}
<main>
    <h1>Create New Project</h1>
    <form id="create-form" hx-post="/create-project" hx-redirect="true">
        <fieldset>
            <legend>Project Details</legend>
            
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="slug">Slug:</label>
            <input type="text" id="slug" name="slug" required>
            <br>
            <label for="creation_date">Creation Date:</label>
            <input type="date" id="creation_date" name="creation_date" required>
            <br>
            <br>
            <label for="html_content">HTML Content:</label>
            <textarea id="html_content" name="html_content"></textarea>
            <br>
            <label for="thumbnail_link">Thumbnail Link:</label>
            <input type="url" id="thumbnail_link" name="thumbnail_link">
            <br>
            <label for="video_link">HLS Video Link:</label>
            <input type="url" id="video_link" name="video_link">
            <br>
            <label for="video_link_mp4">MP4 Video Link:</label>
            <input type="url" id="video_link_mp4" name="video_link_mp4">
            <br>
            <label for="youtube_link">YouTube Link:</label>
            <input type="url" id="youtube_link" name="youtube_link">
        </fieldset>
        <br>
        <fieldset>
            <legend>Project Settings</legend>

            <label for="show_project">
                <input type="checkbox" id="show_project" name="show_project">
                Show Project
            </label>
            <br>
            <label for="highlight_project">
                <input type="checkbox" id="highlight_project" name="highlight_project">
                Highlight Project
            </label>
        </fieldset>

        <button type="submit">Create Project</button>
    </form>
</main>
{% endblock %}

{% block additional_scripts %}
<script src="https://cdn.tiny.cloud/1/{{ tinymce_api_key }}/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    initTinyMCE('#html_content');
    setupFormListeners('create-form');
</script>
{% endblock %}