<article class="project">
    <section id="video-container" class="video-container">
        <video id="video-player" data-src="{{ project.video_link }}" controls playsinline></video>
    </section>
    <section class="project-details">
        {{ project.html_content | safe }}
    </section>
</article>

{% if project.youtube_link %}
<nav class="social-links" aria-label="Project social media">
    <ul>
        <li>
            <a href="{{ project.youtube_link }}" target="_blank" aria-label="YouTube">
                <i class="fab fa-youtube"></i>
            </a>
        </li>
    </ul>
</nav>
{% endif %}