{% macro render_thumbnail(project, data_animate=False) %}
    <figure 
        id="thumbnail-{{ project.slug }}"
        class="thumbnail lazy-thumbnail"
        data-bg="{{ project.sprite_sheet_link }}"
        data-frames="{{ project.frames | default(60) }}"
        data-frame-width="{{ project.frame_width | default(320) }}"
        data-frame-height="{{ project.frame_height | default(180) }}"
        data-columns="{{ project.columns | default(5) }}"
        {% if data_animate %}
            data-animate="true"
        {% endif %}>
    </figure>
{% endmacro %}